//Text//

@mixin font-face($family, $file) {
  @font-face {
    font-family: $family;
    src: url("../fonts/#{$file}.ttf");
  }
}

@mixin text($size, $height, $family) {
  font-size: $size;
  line-height: $height;
  font-family: $family;
}
