//Text//

@mixin font-face($family, $file) {
  @font-face {
    font-family: $family;
    src: url("../fonts/#{$file}.ttf");
  }
}

@mixin text($size, $height: null, $weight: null, $color: null) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}
